@font-face {
  font-family: "iconfont"; /* Project id 4702346 */
  src: url('../font/a.woff2') format('woff2'),
       url('../font/a.woff') format('woff'),
       url('../font/a.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontapple:before {
  content: "\e634";
}

.icon-anzhuo:before {
  content: "\e602";
}
